<form class="form">
    <h2>Address</h2>
    <!-- address-line1 input-->
    <div class="form-group">
        <label class="form-label">Address Line 1</label>
        <input ng-model="FormData.Address.Line1" id="address-line1" name="address-line1" type="text" class="form-control" placeholder="Street address, P.O. box, company name, c/o">
    </div>
    <!-- address-line2 input-->
    <div class="form-group">
        <label class="form-label">Address Line 2</label>
        <input ng-model="FormData.Address.Line2" id="address-line2" name="address-line2" type="text" class="form-control" placeholder="Apartment, suite , unit, building, floor, etc.">
    </div>
    <!-- city input-->
    <div class="form-group">
        <label class="form-label">City / Town</label>
        <input ng-model="FormData.Address.City" id="city" name="city" type="text" class="form-control">
    </div>
    <!-- region input-->
    <div class="form-group">
        <label class="form-label">State / Province / Region</label>
        <input ng-model="FormData.Address.State" id="region" name="region" type="text" class="form-control">
    </div>
    <!-- postal-code input-->
    <div class="form-group">
        <label class="form-label">Zip / Postal Code</label>
        <input ng-model="FormData.Address.Zipcode" id="postal-code" name="postal-code" type="text" class="form-control">
    </div>
    <!-- country select -->
    <div class="form-group">
        <label class="form-label">Country</label>
        <select ng-model="FormData.Address.Country" ng-options="o.name for o in ViewData.countries track by o.value" id="country" name="country" class="form-control">
        </select>
    </div>
</form>