@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
hr {
    margin:40px 0;
} 
h3 { color:#1758AA}
h3 span {font-size:14px; display:block;}
span[ng-click] {
    cursor: pointer;
}